@use './abstracts.scss';
@use './scrollama.scss';

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// This defines what 1rem is
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-size: 1.6rem;
	font-family: abstracts.$font-body;
	padding: 6.5rem 0;
}
header {
	margin-bottom: 2rem;
	h1 {
		text-align: center;
	}
}
