#scroll {
	position: relative;
	border: 3px dashed orangered;
	max-width: 1200px;
	width: 88%;
	margin: 0 auto;
}
.scroll {
	&__graphic {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		margin: 0;
		transform: translate3d(0, 0, 0);
		background-color: #4b4b4b;

		&.is-bottom {
			bottom: 0;
			top: auto;
		}
		.chart {
			right: 1rem;
			top: 50%;
			// transform: translateY(-50%);
			position: sticky;
			border: 2px solid black;
			border-radius: 1rem;
			padding: 2rem;
			background-color: white;
		}
	}
	&__text {
		padding: 0 1rem;
		max-width: 30rem;
		position: relative;
	}
}
.step {
	opacity: 0;
	padding: 1rem;
	border: 2px solid grey;
	border-radius: 7px;
	background-color: #3b3b3b;
	color: #fff;
	margin-bottom: 2rem;
	transition: all 0.3s ease;
	&.is-active {
		opacity: 1;
		background-color: goldenrod;
		color: #3b3b3b;
	}
}
